# Dependencies
node_modules/
package-lock.json
yarn.lock
STRIPE_SETUP.md
VERCEL_SETUP.md
VERCEL_NEW_PROJECT.md
STRIPE_CUSTOMER_GUIDE.md
PRICE_UPDATE_GUIDE.md

# Environment variables
.env
.env.local
.env.production

# Netlify
.netlify/
.netlify/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

